<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.gymmanagementsystem.mapper.EquipmentMapper">
    <select id="selectTotalCount" resultType="java.lang.Integer">
        SELECT count(*) FROM equipment
    </select>

    <select id="findAll" resultType="Equipment">
        SELECT * FROM equipment
    </select>

    <delete id="deleteByEquipmentId" parameterType="java.lang.Integer">
        DELETE FROM equipment WHERE equipment_id = #{equipmentId}
    </delete>

    <insert id="insertEquipment" parameterType="Equipment">
        INSERT INTO equipment (equipment_name, equipment_type, equipment_status)
        VALUES (#{equipmentName}, #{equipmentType}, #{equipmentStatus})
    </insert>

    <update id="updateEquipmentByEquipmentId" parameterType="Equipment">
        UPDATE equipment
        SET equipment_name = #{equipmentName},
            equipment_type = #{equipmentType},
            equipment_status = #{equipmentStatus}
        WHERE equipment_id = #{equipmentId}
    </update>

    <select id="selectByEquipmentId" parameterType="java.lang.Integer" resultType="Equipment">
        SELECT * FROM equipment WHERE equipment_id = #{equipmentId}
    </select>
</mapper>
